﻿@inherits LayoutComponentBase
@namespace Inkomensloket.ComponentLibrary
<NldsSkiplink>Ga direct naar inhoud</NldsSkiplink>
<NldsContentHeader>
    <div class="ikl-logo-gemeente"></div>
</NldsContentHeader>
<main class="smain" id="content">
    <div class="container">
        @Body
        <Hulp/>
    </div>
</main>